<footer class="site-footer">
    <span class="site-footer-credits">Henrique Pacheco, 2018</span>

    <a href="https://www.linkedin.com/in/henrique-pacheco">
        <i class="fab fa-linkedin-in left-margin"></i>
    </a>

    <a href="https://www.facebook.com/henrique.pacheco.948">
        <i class="fab fa-facebook-f left-margin"></i>
    </a>

    <a href="https://github.com/ikas">
        <i class="fab fa-github left-margin"></i>
    </a>

    <a href="https://www.instagram.com/henriquejcpacheco">
        <i class="fab fa-instagram left-margin"></i>
    </a>

    <a href="/feed.xml">
        <i class="fas fa-rss left-margin"></i>
    </a>
</footer>