@import "normalize";
@import "rouge-github";
@import "palette";
@import "variables";

@mixin large {
  @media screen and (min-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: #{$medium-breakpoint}) {
    @content;
  }
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: $color1;
}

a {
  color: $theme-secondary;
  font-weight: bold;
  text-decoration: none;
}

.btn {
  display: inline-block;
  color: $theme-default;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.08);
  border-color: #fc0d1c;
  border-style: solid;
  border-width: 2px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;

  &:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.3);
  }

  @include large {
    padding: 0.75rem 1rem;
  }

  @include medium {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem;
  }

  @include small {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem;
  }

  &.btn-icon {
    border: none;
    border-radius: 50%;
    background-color: $theme-white;

    &:hover {
      background-color: $theme-default;
    }

    @include large {
      height: 3.5rem;
      width: 3.5rem;
    }

    @include medium {
      height: 3rem;
      width: 3rem;
    }

    @include small {
      height: 2.5rem;
      width: 2.5rem;
    }
  }
}

.page-header {
  color: $theme-white;
  height: 100%;
  background: linear-gradient($theme-default, $theme-secondary);

  @include large {
    padding: 10rem 4rem;
  }

  @include medium {
    padding: 8rem 4rem;
  }

  @include small {
    padding: 5rem 2rem;
  }

  .project-name, .project-tagline {
    color: $theme-white;
  }

  .project-name {
    text-transform: uppercase;

    @include large {
      font-size: 4.5rem;
    }

    @include medium {
      font-size: 3.5rem;
    }

    @include small {
      font-size: 3rem;
    }

    &:after {
      content: ' ';
      display: block;
      width: 50px;
      margin: 10px auto -10px 0;
      border: 2px solid $theme-white;
    }
  }

  .project-tagline {
    margin-bottom: 2rem;
    font-weight: bold;

    @include large {
      font-size: 1.25rem;
    }

    @include medium {
      font-size: 1.15rem;
    }

    @include small {
      font-size: 1rem;
    }
  }
}

// Font awesome icons
i.fa {

  @include medium {
    font-size: 1.5rem;
    line-height: 1.5rem;
    vertical-align: 0;
  }

  @include small {
    font-size: 1.3333rem;
    line-height: .75rem;
    vertical-align: 0;
  }
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inconsolata', monospace;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: normal;
  color: $theme-default;
}

.main-content {
  word-wrap: break-word;

  :first-child {
    margin-top: 0;
  }

  @include large {
    max-width: 64rem;
    padding: 2rem 6rem;
    margin: 0 auto;
    font-size: 1.1rem;
  }

  @include medium {
    padding: 2rem 4rem;
    font-size: 1.1rem;
  }

  @include small {
    padding: 2rem 1rem;
    font-size: 1rem;
  }

  img {
    max-width: 100%;
  }

  p {
    margin-bottom: 1em;
  }

  code {
    padding: 2px 4px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.9rem;
    color: $code-text-color;
    background-color: $code-bg-color;
    border-radius: 0.3rem;
  }

  pre {
    padding: 0.8rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
    color: $code-text-color;
    word-wrap: normal;
    background-color: $code-bg-color;
    border: solid 1px $border-color;
    border-radius: 0.3rem;

    > code {
      padding: 0;
      margin: 0;
      font-size: 0.9rem;
      color: $code-text-color;
      word-break: normal;
      white-space: pre;
      background: transparent;
      border: 0;
    }
  }

  .highlight {
    margin-bottom: 1rem;

    pre {
      margin-bottom: 0;
      word-break: normal;
    }
  }

  .highlight pre,
  pre {
    padding: 0.8rem;
    overflow: auto;
    font-size: 0.9rem;
    line-height: 1.45;
    border-radius: 0.3rem;
    -webkit-overflow-scrolling: touch;
  }

  pre code,
  pre tt {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;

    &:before,
    &:after {
      content: normal;
    }
  }

  ul,
  ol {
    margin-top: 0;
  }

  blockquote {
    padding: 0 1rem;
    margin-left: 0;
    color: $blockquote-text-color;
    border-left: 0.3rem solid $border-color;

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all; // For Firefox to horizontally scroll wider tables.
    -webkit-overflow-scrolling: touch;

    th {
      font-weight: bold;
    }

    th,
    td {
      padding: 0.5rem 1rem;
      border: 1px solid $table-border-color;
    }
  }

  dl {
    padding: 0;

    dt {
      padding: 0;
      margin-top: 1rem;
      font-size: 1rem;
      font-weight: bold;
    }

    dd {
      padding: 0;
      margin-bottom: 1rem;
    }
  }

  hr {
    height: 2px;
    padding: 0;
    margin: 1rem 0;
    background-color: $hr-border-color;
    border: 0;
  }
}

.header-nav {
  position: fixed;
  width: 100%;
  background-color: $theme-secondary;

  .main-nav {
    display: flex;
    margin: 0;
    list-style: none;
    padding-left: 0;

    li:first-child {
      margin-right: auto;
    }

    a {
      color: $theme-white;
      display: block;
      text-decoration: none;
      text-transform: uppercase;
      padding: 1rem 2rem;

      @include small {
        padding: 1rem 1rem;
      }
    }
  }
}


.article-container {
  flex: 1;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 20px;

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }

  @include large {
    width: 33%;
  }

  @include medium {
    width: 33%;
  }

  @include small {
    width: 100%;
  }
}

.article-author {
  color: $theme-default;
}

.article-date {
  font-size: 14px;
}

.article-meta-info {
  margin-bottom: 25px;
}


// Home social icons
.social-icons {
  display: flex;
  justify-content: left;
  margin-top: 2rem;
  margin-bottom: 2rem;

  & > * {
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);

    margin-left: 1rem;
    margin-right: 1rem;

    @include small {
      margin-left: 0.75rem;
      margin-right: 0.75rem;
    }

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}


// Home containers
.home-container {
  margin: 4rem 4rem;
  display: flex;

  @include small {
    flex-direction: column;
    margin: 2rem 1rem;
  }

  .home-title {
    flex: 1;
    margin-right: 1rem;

    @include small {
      margin-right: 0;
    }

    h2 {
      color: $theme-secondary;
      text-transform: uppercase;

      &:after {
        border: 2px solid $theme-secondary;
        content: ' ';
        display: block;
        width: 50px;
        margin: 10px 0;
      }
    }


    .profile-pic-container {
      text-align: center;

      img.profile-image {
        border-radius: 150px;
        border: 3px solid $theme-secondary;
        padding: 2px;
        background-color: white;
      }
    }
  }

  .home-content {
    margin-left: 1rem;

    & > * {
      margin-top: 2.7rem;
    }

    @include large {
      flex: 2;
    }

    @include medium {
      flex: 1;
    }

    @include small {
      flex: 1;
      margin-left: 0;
    }

    .justify-text {
      text-align: justify;

      p:first-of-type {
        margin-top: 0;
      }
    }

    &.latest-posts-container {
      display: flex;

      @include medium {
        flex-direction: column;
      }

      @include small {
        flex-direction: column;
      }

      .article-container {
        width: 50%;

        @include medium {
          width: 100%;
          margin-left: 0;
          margin-right: 0;
        }

        @include small {
          width: 100%;
          margin-left: 0;
          margin-right: 0;
        }

        &:hover {
          text-decoration: none;
        }

        .article-image {
          height: 150px;
          background-position: center;
          background-size: cover;
        }

        .article-title {
          display: block;
          margin-top: 10px;
          text-transform: uppercase;
        }

        .article-short-desc {
          display: block;
          font-size: 13px;
        }
      }
    }
  }
}


.contact-info {
  display: flex;
  flex-direction: column;

  & > * {
    flex: 1;
  }

  .profile-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;

    .contact-text {
      text-align: center;
      margin-top: 0.5rem;
      margin-bottom: 1rem;
    }
  }
}


// Footer
.site-footer {
  border-top: 1px solid $color1;
  padding: 0.5rem;
  text-align: center;

  @include large {
    font-size: 0.9rem;
  }

  @include medium {
    font-size: 0.9rem;
  }

  @include small {
    font-size: 0.8rem;
  }
}