.post-header {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

    @include small {
        padding: 2rem 1rem;
    }
}

.article-meta-info {
    margin-bottom: 25px;

    .article-author {
       color: $theme-default;
    }

    .article-date {
        font-size: 14px;
    }
}

span.category-label {
    border: 2px solid $theme-secondary;
    border-radius: 3px;
    background-color: $theme-secondary;
    padding: 0.2rem;
    line-height: 3rem;
    color: $theme-white;

    &.category-books {
        background-color: #0D9AAC;
        border-color: #0D9AAC;
    }
}

.article-content {
    text-align: justify;
    margin-bottom: 2rem;
}

.article-navigation {

    .text-right {
        float: right;
    }

    @include small {
        display: flex;
        flex-direction: column;

        * {
            text-align: center;
            margin-bottom: 1rem;
        }
    }
}