$gutter: 30px;
$border-width: 3px;
$dot-diameter: 10px;


.timeline {
  background: $theme-bg;
  color: $theme-white;

  width:100%;
  padding: 6rem 4rem;
  position: relative;

  @include small {
    padding: 4rem 1rem;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0px;
    left:calc(33% + 23px); //$gutter/2
    bottom: 0px;
    width: $border-width;
    background: $theme-white;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }

  a {
    color: $theme-white;
    text-decoration: underline;
  }
}

.entry {
  clear: both;
  text-align: left;
  position: relative;
  .title {
    margin-bottom: .5rem;
    float: left;
    width: 33%;
    padding-right: $gutter;
    text-align: right;
    position: relative;
    overflow-x: visible;

    @include small {
      padding-right: 0.4rem;
      text-align: left;
    }

    &:before {
      content: '';
      position: absolute;
      width: $dot-diameter;
      height: $dot-diameter;
      border: $border-width solid $color2;
      background-color:#fff;
      border-radius:100%;
      top: 15%;
      right: -$dot-diameter;

      @include small {
        right: -27px;
      }
      z-index: 99;
    }
    h3 {
      margin: 0;
      color: $theme-white;
      font-weight: bold;

      font-size: 2rem;

      @include small {
        font-size: 1.6rem
      }
    }
    p {
      margin: 0;

      @include small {
        font-size: 1rem;
      }
    }
  }
  .body {
    margin: 0 0 3em;
    float: right;
    width: 66%;
    padding-left: $gutter;

    @include small {
      font-size: 1rem;
    }

    p {
      line-height: 1.4em;
      &:first-child {
        margin-top: 0;
        font-weight: 400;
      }
    }
    ul {
      padding-left: 0;
      list-style-type: none;
      li:before {
        content: "–";
        margin-right: .5em;
      }
    }
  }
}
