// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$theme-bg: linear-gradient(#3f162a, #ca2132) !default;
$theme-default: $color5 !default;
$theme-secondary: $color4 !default;
$theme-white: white !default;
$theme-black: $color1 !default;
$theme-soft-bg: $color3 !default;

// Text
$body-text-color: #606c71 !default;
$body-link-color: $theme-default;
$blockquote-text-color: $theme-secondary !default;
$blockquote-border-color: $theme-default !default;

// Code
$code-bg-color: #cccccc !default;
$code-text-color: $theme-default !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;

