---
layout: default
---

<section class="page-header">
  <div data-aos="fade-down" data-aos-duration="1200" data-aos-easing="ease-out">
    <h1 class="project-name">{{ page.i18n.main_title }}</h1>
    <h2 class="project-tagline">{{ page.i18n.description }}</h2>
  </div>
</section>


<div class="home-container">
  <div class="home-title" data-aos="fade-right">
    <h2>{{ page.i18n.latest_posts_title }}</h2>
  </div>

  <div class="home-content latest-posts-container" data-aos="fade-left">
    {% for post in site.posts limit:3 %}
      <a class="article-container" href="{{ post.url | absolute_url}}">
        <div style="background-image: url('{{ post.thumb | default: post.image | default: '/assets/img/post/header.jpg' | absolute_url }}');background-position: bottom;" class="article-image"></div>
        <span class="article-title">{{ post.title }}</span>
        <span class="article-short-desc">{{ post.short_description }}</span>
        <div class="article-categories">
          <span class="category-label category-{{ post.category | downcase }}">{{ post.category }}</span>
        </div>
      </a>
    {% endfor %}
  </div>
</div>

<!-- Timeline -->
<div class="home-container">
  <div class="home-title" data-aos="fade-right">
    <h2>{{ page.i18n.timeline_title }}</h2>
  </div>
</div>

<div class="timeline">
  <div class="entry">
    <div class="title" data-aos="fade-right">
      <h3>{{ page.i18n.timeline_entry_1_period }}</h3>
      <p>{{ page.i18n.timeline_entry_1_job_title }}</p>
    </div>
    <div class="body" data-aos="fade-left">
      <p>{{ page.i18n.timeline_entry_1_job_desc }}</p>
      <ul>
        <li>{{ page.i18n.timeline_entry_1_bullet_1 }}</li>
        <li>{{ page.i18n.timeline_entry_1_bullet_2 }}</li>
        <li>{{ page.i18n.timeline_entry_1_bullet_3 }}</li>
      </ul>
    </div>
  </div>
  <div class="entry">
    <div class="title" data-aos="fade-right">
      <h3>{{ page.i18n.timeline_entry_2_period }}</h3>
      <p>{{ page.i18n.timeline_entry_2_job_title }}</p>
    </div>
    <div class="body" data-aos="fade-left">
      <p>{{ page.i18n.timeline_entry_2_job_desc }}</p>
      <ul>
        <li>{{ page.i18n.timeline_entry_2_bullet_1 }}</li>
        <li>{{ page.i18n.timeline_entry_2_bullet_2 }}</li>
        <li>{{ page.i18n.timeline_entry_2_bullet_3 }}</li>
      </ul>
    </div>
  </div>
  <div class="entry">
    <div class="title" data-aos="fade-right">
      <h3>{{ page.i18n.timeline_entry_3_period }}</h3>
      <p>{{ page.i18n.timeline_entry_3_job_title }}</p>
    </div>
    <div class="body" data-aos="fade-left">
      <p>{{ page.i18n.timeline_entry_3_job_desc }}</p>
    </div>
  </div>
</div>


<div class="home-container">
  <div class="home-title" data-aos="fade-right">
    <h2>{{ page.i18n.about_title }}</h2>
    <div class="profile-pic-container">
      <img class="profile-image" src="{{ "/assets/img/profile-pic.jpg" | absolute_url }}" alt="Henrique Pacheco" width="200" height="200" />
    </div>
  </div>

  <div class="home-content" data-aos="fade-left">
    <div class="justify-text">
      <p>{{ page.i18n.about_text_1 }}</p>
      <p>{{ page.i18n.about_text_2 }}</p>
      <p>{{ page.i18n.about_text_3 }}</p>
    </div>
  </div>
</div>


<div class="home-container">
  <div class="home-title" data-aos="fade-right">
    <h2>{{ page.i18n.contact_title }}</h2>
  </div>

  <div class="home-content" data-aos="fade-left">
    <div class="contact-info">
      <a href="mailto:henriquejcpacheco@gmail.com" class="profile-item">
        <i class="fas fa-at fa-lg"></i>
        <span class="contact-text">henriquejcpacheco [at] gmail [dot] com</span>
      </a>

      <a class="profile-item" href="https://www.google.pt/maps/place/Braga/">
        <i class="fas fa-location-arrow fa-lg"></i>
        <span class="contact-text">Braga, Portugal</span>
      </a>
    </div>
  </div>
</div>
