---
layout: default
---

<div style="background-image: url('{{ page.image | default: '/assets/img/header.jpg' | absolute_url }}');background-position:bottom;background-repeat:no-repeat;background-size:cover;" class="page-header">
  <h1 class="project-name">{{ page.title }}</h1>
  <h2 class="project-tagline">{{ page.short_description }}</h2>
</div>

<div class="main-content">
  <div class="article-meta-info">
    <span class="article-author">{{ page.author }}</span><br>
    <span class="article-date">{{ page.date | date_to_string }}</span>
  </div>
  {{ content }}
</div>
